<h1>トークルーム</h1>

<h2>メッセージ</h2>
<% @messages.each do |message| %>
  <p><%= message.sender.name %>: <%= message.content %></p>
<% end %>


<%= form_with(model: @message, local: true) do |form| %>
  <%= form.text_area :content, rows: 3 %>
  <%= form.submit '送信' %>
<% end %>

